<div class="content" id="content">

    {% for comment in comments %}
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <h4 class="dropdown" style="padding-bottom: 20px" >

                                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #900000;">
                                        {% if comment.fkCommentOwnerid.picture is null %}
                                            <img src="{{asset ('bundles/admin/assets/img/UserMiniImage.png')}}">
                                        {% else %}
                                            <img alt="Embedded Image" src="data:image/png;base64,{{ images[comment.fkCommentOwnerid.id] }}" height="50" width="50">
                                        {% endif %}


                                        {{ comment.fkCommentOwnerid.firstname }} {{ comment.fkCommentOwnerid.lastname }}

                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a>First Name :{{ comment.fkCommentOwnerid.firstname }}</a></li>
                                        <li><a>Last Name :{{ comment.fkCommentOwnerid.lastname }}</a></li>
                                        <li><a>Email :{{ comment.fkCommentOwnerid.email }}</a></li>
                                        <li><a>Points :{{ comment.fkCommentOwnerid.points }}</a></li>
                                        <li><a>Adress :{{ comment.fkCommentOwnerid.country }}{{ comment.fkCommentOwnerid.town }}</a></li>
                                    </ul>

                                </h4>
                            </li>

                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="#" style="color: #024433">
                                    <i class="pe-7s-close"></i>
                                    View House
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #024433; font-weight: bold">
                                    Reported By :
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for u in comment.fkCommentReportOwnerid %}
                                        <li><a href="#">{{ u.firstname }} {{ u.lastname }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="decline" id="{{ comment.id }}">
                                <a href="#" style="color: #024433">
                                    <i class="pe-7s-close"></i>
                                    Decline Report
                                </a>
                            </li>

                            <li class="deletecom" id="dc{{ comment.id }}">
                                <a href="#" style="color: #920000">
                                    <i class="pe-7s-junk"></i>
                                    Delete Comment
                                </a>
                            </li>

                            <li class="deleteowner" id="do{{ comment.id }}">
                                <a href="#" style="color: #920000">
                                    <i class="pe-7s-junk"></i>
                                    Delete Owner ?
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="category" style="font-size: 20px">{{ comment.comment }}</p>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".deleteowner").click(
                function () {
                    var id =$(this).attr("id");
                    id=id.substr(2,id.length);
                    $.ajax({
                        url: "deletecommentowner/" + id,
                        success :function (result) {
                            $("#content").html(result);
                        }
                    })
                }
        );
        $(".deletecom").click(
                function () {
                    var id =$(this).attr("id");
                    id=id.substr(2,id.length);
                    $.ajax({
                        url: "deletecommentadmin/" + id,
                        success :function (result) {
                            $("#content").html(result);
                        }
                    })
                }
        );
        $(".decline").click(
                function () {
                    var id =$(this).attr("id");
                    $.ajax({
                        url: "declinecommentreport/" + id,
                        success :function (result) {
                            $("#content").html(result);
                        }
                    })
                }
        );


    });
</script>